@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root{
  --fill-color:hsl(0, 0%, 98%);
  --passive-color:hsl(234, 39%, 85%);
  --brand-gradient: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  --hover-color:hsl(236, 33%, 92%);
}

body{
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;

  background-repeat: no-repeat;
  background-position: top;
  /*background-size is hardcoded image resolution and must be changed if image with different resolution is used as background*/
  background-image: url('../img/bg-desktop-light.jpg');
  background-size: max(1440px, 100%) 300px;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
}
input, button{
  all: unset;
}

#wrapper{
  max-width: 540px;
  margin: auto;
  padding: 1rem;
}
.box{
  background-color: var(--fill-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, .35);
  margin-bottom: 1.5rem;
  border-radius: .25rem;
}