.tab-form{
  display: flex;
}
.tab-option{
  font-weight: bold;
  padding: 1rem;
  text-align: center;
  flex: 1;
  color: var(--dark-passive-color);
  transition: color .15s linear;
  cursor: pointer;
  user-select: none;
}
@media (hover: hover){
  .tab-option:hover{
    color: var(--ink-color);
  }
}
.tab-option[data-current]{
  color: var(--active-color);
}