.show-todo > :not(:last-child){
  border-bottom: solid 1px var(--light-passive-color);
}
.add-todo, .todo-item{
  display: flex;
  gap: 1rem;
  padding: 1rem;
}
.todo-item{
  align-items: center;
}
.add-todo__input, .todo-item__title{
  flex: auto;
}
.todo-item__title{
  word-break: break-all;
}

.add-todo__figure, .todo-switch, .todo-switch::before{
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
}
.add-todo__figure, .todo-switch{
  border: solid 1px var(--light-passive-color);
  flex-shrink: 0;
}
.todo-switch{
  position: relative;
  transition: border-color .2s linear;
}
.todo-switch__icon{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transition: transform .2s linear;
  user-select: none;
  transform: translate(-50%, -50%) scale(0);
}
.todo-switch::before{
  content: '';
  display: inline-block;
  background: var(--brand-gradient);
  transition: opacity .2s linear;
  opacity: 0;
}

.todo-item[data-checked] .todo-switch{
  border-color: transparent;
}
.todo-item[data-checked] .todo-switch__icon{
  transform: translate(-50%, -50%) scale(1);
}
.todo-item[data-checked] .todo-switch::before{
  opacity: 1;
}